<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chatbox.css">

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>
        
        
        <div id="posts-list-container">
            <ul>
                <%for(post of posts){%>
                    <%- include('_post') -%>
                <%}%>
            </ul>
        </div>
        <%}%>
    </section>


    <section id="user-display">
        <div id="user-friends">
            <h4>Friends</h4>

            <%for(friend of friends){%>
                <p>
                    <a href="/users/profile/<%= friend.id %>"><%= friend.name %></a>

                    <a id="remove-friend" href="/users/toogle-friend/<%= friend.id %>">Remove Friend</a>
                </p>
            <%}%>
            
        </div>

        <div id="user-list">
            <h4>All Users</h4>

            <%for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <%}%>
        </div>
    </section>

    <%-include('_chat_box')%>
</div>

<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if(locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
<% } %>